package graphql

import (
	"embed"

	"github.com/go-modulus/modulus/module"
	"github.com/go-modulus/pgx/migrator"
)

//go:embed storage/migration/*.sql
var migrationFS embed.FS

func NewModule() *module.Module {
	return module.NewModule(
		"auth",
	).AddProviders(
		migrator.ProvideMigrationFS(migrationFS),
	)
}
